.item {
  background-color: #d7d7ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  min-height: 42px;
  width: 450px;
  // border: 1px solid #474747;
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.item:not(:last-child) {
  margin-bottom: 10px;
}

.infoWrapper {
  display: inline-flex;
  width: 60%;
  justify-content: space-between;
  font-size: 18px;
}

.text {
  font-weight: bold;
}

.text:first-child {
  width: 65%;
}

.text:last-child {
  width: 35%;
}

.controllWrapper {
  display: flex;
}

.btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  border-color: transparent;

  border-radius: 5px;
  font-size: 20px;
  color: #ffffff;

  transition-property: color, background-color;
  transition-timing-function: linear;
  transition-duration: 250ms;

  &:not(:last-child) {
    margin-right: 5px;
  }
}

.btnEdit {
  composes: btn;
  background-color: #ff9900;
  &:focus,
  &:hover {
    color: #000000;
    background-color: #ffbd5b;
  }
}

.btnRemove {
  composes: btn;
  background-color: #ff0000;
  &:focus,
  &:hover {
    color: #000000;
    background-color: #ff5d5d;
  }
}
