.link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: #000000;
  font-size: 18px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #0026ff;

  transition-property: color, background-color;
  transition-timing-function: linear;
  transition-duration: 250ms;
}

.activeLink {
  composes: link;
  background-color: #c4cdff;
  color: #0026ff;
}
