.wrapper {
  background-color: #d7d7ff;
  border: 1px solid #000000;
  border-radius: 5px;
  max-width: 450px;
  padding: 20px;
  margin-top: 15px;
}

.form {
  display: flex;
  flex-direction: column;
  .input {
    margin-bottom: 15px;
  }
  .btn {
    min-width: 200px;
    margin: 0 auto;
  }
}
