.item {
  background-color: #d7d7ff;
  padding: 5px 10px;
  margin-bottom: 10px;
  width: 450px;
  // border: 1px solid #474747;
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.labelWrapper {
  display: flex;
  width: 80%;
  justify-content: space-between;
  .input {
    width: 49%;
  }
}

.btnWrapper {
  display: flex;
  justify-content: flex-end;
}

.btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  border-color: transparent;

  border-radius: 5px;
  font-size: 20px;
  color: #ffffff;

  transition-property: color, background-color;
  transition-timing-function: linear;
  transition-duration: 250ms;

  &:not(:last-child) {
    margin-right: 5px;
  }
}

.btnCancel {
  composes: btn;
  background-color: #0000ff;
  &:focus,
  &:hover {
    color: #000000;
    background-color: #5555ff;
  }
}

.btnAccept {
  composes: btn;
  background-color: #008000;
  &:focus,
  &:hover {
    color: #000000;
    background-color: #93b33c;
  }
}
